body {
    margin: 0;
    padding-top: 50px;
    background: url(i/wood.jpg);
    overflow: hidden;
}

h1 {
    text-align: center;
    margin: 0;
    color: #c15c39;
}
.photo {
    width: 900px;
    padding-top: 14px;
    padding-bottom: 15px;
    background: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 0 7px rgba(0,0,0,0.4);
    transform: rotate(3deg);
    margin: auto;
    margin-top: 30px;
    opacity: 0;
    transform: scale(2) rotate(-7deg);
    transition: 0.25s ease-out;
}
.photo.on {
    transform: rotate(3deg);
    opacity: 1;
}
.photo span {
    font-family: 'Gloria Hallelujah', cursive;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0 0;
    font-size: 20px;
}
.joe {
    background: url('i/joe.jpg');
    width: 868px;
    height: 531px;
    background-size: cover;
    margin: auto;
    background-position: top center;
    position: relative;
}
.eyes {
    position: absolute;
    top: 148px;
    left: 453px;
}
.eye {
    background: #000;
    border-radius: 100%;
    width: 23px;
    height: 26px;
    position: absolute;
    animation: eye 7s infinite;
}
.pupil {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 100%;
    position: relative;
    left: 6px;
    top: 4px;
    animation: pupil 7s infinite;
}

.eye2 {
    left: 48px;
}


.eyebrow1 {
    position: absolute;
    top: -18px;
    width: 30px;
    left: -8px;
    animation: brow 7s infinite;
    transform-origin: 50% 0;
}

.eyebrow2 {
    position: absolute;
    top: -20px;
    width: 30px;
    left: 47px;
    animation: brow 7s infinite;
    transform-origin: 50% 0;
}

.wink-eyebrow {
    position: absolute;
    top: -16px;
    width: 34px;
    left: 45px;
    animation: brow 7s infinite;
    transform-origin: 50% 0;
}

.eye-wink {
    position: absolute;
    top: 6px;
    width: 27px;
    left: 45px;
    animation: brow 7s infinite;
    transform-origin: 50% 0;
}

.mouth {
    position: absolute;
    top: 45px;
    width: 39px;
    left: 17px;
    animation: mouth 7s infinite;
    transform-origin: 50% 100%;
}

.wink {
    animation: wink 7s infinite;
}

.wink-hide {
    animation: wink-hide 7s infinite;
}

@keyframes wink-hide {
  0%   { opacity: 1 }
  20%   { opacity: 1 }
  48%   { opacity: 1 }
  49%   { opacity: 0 }
  52%   { opacity: 0 }
  53%   { opacity: 1 }
  100%   { opacity: 1 }
}

@keyframes wink {
  0%   { opacity: 0 }
  20%   { opacity: 0 }
  48%   { opacity: 0 }
  49%   { opacity: 1 }
  52%   { opacity: 1 }
  53%   { opacity: 0 }
  100%   { opacity: 0 }
}

@keyframes eye {
  20%   { transform: scale(1) }
  27% { transform: translate(-4px, 1px); }
  29% { transform: translate(-4px, 1px); }
  38% { transform: translate(4px, 1px); }
  42% { transform: translate(4px, 1px); }
  46% { transform: scale(1); }
}

@keyframes pupil {
  20%   { transform: scale(1) }
  27% { transform: translate(-5px, 1px); }
  29% { transform: translate(-5px, 1px); }
  38% { transform: translate(5px, 1px); }
  42% { transform: translate(5px, 1px); }
  46% { transform: scale(1); }
}

@keyframes brow {
  20%   { transform: scale(1) }
  27% { transform: rotate(14deg) }
  29% { transform: rotate(14deg) }
  38% { transform: rotate(-14deg) }
  42% { transform: rotate(-14deg) }
  46% { transform: scale(1); }
}

@keyframes mouth {
  20%   { transform: scale(1) }
  27% { transform: rotate(-14deg) }
  29% { transform: rotate(-14deg) }
  38% { transform: rotate(14deg) }
  42% { transform: rotate(14deg) }
  46% { transform: scale(1); }
}
